/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Merriweather", serif;

  --color-signal: #3A76F0;
  --color-threema: #17C37B;
  --color-bg-dark: #0F172A;
  --color-surface: #1E293B;

  --color-text-main: #F8FAFC;
  --color-text-muted: #94A3B8;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-bg-dark text-text-main m-0 p-0 antialiased selection:bg-signal selection:text-white;
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-semibold;
  }
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
